[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = "3.6"


[packages]

django = "==2.1.0"
django-allauth = "*"
django-crispy-forms = "*"
django-extensions = "*"
flake8 = "*"
freezegun = "*"
mock = "*"
psycopg2 = "*"
pytest-django = "*"


[dev-packages]

