{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cue Sheet{% endblock %}

{% block content %}

{% include 'errors/form_errors.html' %}

<div class="container">
  <h3>Add cue sheet</h3>
  <form action={% url 'add-cue-sheet' %} method="post">
    {% csrf_token %}

    <ul class="list-group">
      {{ form|crispy }}
    </ul>
    <button class="btn btn-success" type="submit">Save</button>
    <a class="btn btn-secondary ml-2" href={% url 'cue-sheets' %} role="button">Cancel</a>
  </form>
</div>
{% endblock content %}
